* {
    margin: 0;
    padding: 0;
    font-family: sans-serif, serif;
/*    outline: 1px dotted red;*/
}

body {
    background: url(images/background.jpg);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}


#userEntryForm {
    position: absolute;
    display: block;
    margin: auto;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -150px;
    width: 300px;
    border-radius: 5px;
    background: rgba(100,100,100,0.5);
}

#infoText {
    text-align: center;
    font-family:monospace;
    margin: 15px;
    color: white;
    font-size: 20px;
}

.userButtonChoice {
    position: relative;
    text-align: center;
    display: block;
    margin: auto;
    height: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: -3px;
    padding-right: -3px;
    width: 160px;
    border: none;
    border-radius: 3px;
    background-color: darkgreen;
    font-weight: bold;
    border: 2px solid transparent;
}

.userButtonChoice:hover {
    transition: 0.5s;
    outline: none;
    border: none;
    border: 2px solid darkgreen;
    border-radius: 3px;
    background: rgba(50,50,50,0.4);
}

.userButtonChoice a {
    color: white;
    font-weight: bold;
}


.userButtonChoice a:hover {
    color: gold;
    font-weight: bold;
}


#queryForm {
    width: 400px;
    display: block;
    margin: auto;
    height: auto;
    background: rgba(100,100,100,0.5);
    padding: 25px;
    margin-top: 50px;
}

#queryForm form {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    display: block;
}

form div {
    margin-top: 25px;
    margin-bottom: 25px;
}

form div label {
    color: white;
}


form div label, form div input{
    font-size: 15px;
    display: block;
    position: relative;
    font-family: monospace;
}


#msg {
    height: auto;
    min-height: 80px;
    width: 100%;
    font-family: monospace;
}

form div button {
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    width: 100px;
    border: none;
    outline: none;
    background-color: darkgreen;
    color: white;
    display: block;
    position: relative;
}

a {
    display: block;
    text-decoration: none;
    padding-top: 25px;
    margin-top: -25px;
    padding-bottom: 25px;
}


/*Order Online Form*/
.order {
    position: relative;
    height: auto;
    width: 920px;
    display: block;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: rgba(100,100,100,0.5);
    border-radius: 10px;
    margin-bottom: 20px;
}

.order p {
    font-size: 20px;
    color: white;
    text-align: justify;
    font-family: monospace;
    padding-left: 80px;
    padding-right: 80px;
}

.order h1 {
    font-family: monospace;
    font-size: 30px;
    color: white;
}

#orderForm {
    position: relative;
    height: auto;
    width: 920px;
    display: block;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: rgba(100,100,100,0.5);
    border-radius: 10px;
}

.coffeeItem {
    position: relative;
    display: inline-block;
    width: 280px;
    height: auto;
    border-radius: 10px;
    margin: 0;
    padding-top: 10px;
    background: rgba(0,0,0,0.8);
    z-index: 1;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
}

.coffeeImg {
    padding: 10px;
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
}

.productText {
    font-size: 20px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

.productPrice {
    font-size: 30px;
}

.customizeOrder {
    display: none;
    opacity: 0;
    margin: 10px;
}
.customizeOrder input {
    font-size: 20px;
    text-align: center;
}
.customizeOrder p {
    font-size: 15px;
    font-weight: normal;
    display: inline-block;
    padding: 10px;
}
.productSelectButton {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border: none;
    display: inline-block;
    color: black;
    background-color: gold;
}

.xCross {
    display: none;
    float: right;
    background-color: red;
    width: auto;
    height: auto;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -50px;
    margin-right: 10px;
    position: relative;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    
}

table tr {
    background-color: black;
}

table td{
    border-collapse: collapse;
    border: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-weight: normal;
}

#item 
{
    width: 200px;
}
#price 
{
    width: 100px;
}

#confirm {
    border: none;
    margin: 10px;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    background-color: gold;
}

input {
    cursor: pointer;
}

button {
    cursor: pointer;
}

#totalPrice {
    text-align: center;
    margin: 10px;
    display: none;
}

#userConfirmation {
    text-align: left;
}

.userConfirmation
{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 20px;
    padding: 5px;
}

.userConfirmationButton {
    background-color: gold;
    border: none;
    font-weight: bold;
    padding: 10px;
}

.userConfirmText {
    font-size: 20px;
    color: white;
}

.required {
    color: red;
    font-size: 20px;
}