.seat {
  background-color: skyblue;
  border: 1px solid black;
  cursor: pointer;
  height: 20px;
  width: 30px;
}

.selected {
  background-color: green;
}

.booked {
  background-color: blue;
}

.walk {
  padding-left: 10px;
  padding-right: 10px;
}
