.seat {
  background-color: skyblue;
  border: 1px solid black;
  cursor: pointer;
  height: 20px;
  width: 30px;
}

.selected {
  background-color: green;
}

.booked {
  background-color: gray;
}

.walk {
  padding-left: 10px;
  padding-right: 10px;
}

/* HTML STYLES */
#navbar ul {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  text-align: center;
  background-color: #000;
}

#navbar ul li {
  display: inline;
}

#navbar ul li a {
  text-decoration: none;
  padding: .2em 1em;
  color: #fff;
  background-color: #000;
}

#navbar ul li a:hover {
  color: #000;
  background-color: #fff;
}

.booking-details {

}