html {
  font-family: 'Lato', sans-serif;
}

body {
  color: black;
  text-align: center;
}

h3, h4, p {
  text-align: center;
}

.rotate180 {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate90 {
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -webkit-ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.demo {
  background-color: grey;
  border-color: black;
  border-style: solid;
  color: white;
  height: 20em;
  margin: 0 auto;
  width: 50em;
}
